.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s ease-in;
    opacity: 0;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    background-color: #fff;
    padding: 32px 50px;
    max-width: 730px;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    width: 100%;
}

.modal__container_type_preview {
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    max-width: 446px;
}

.modal__image {
    width: 100%;
    object-fit: contain;
    max-height: 80vh;
    border-radius: 8px;
    display: block;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-image: url(../images/exit-button.png);
    background-color: transparent;
    opacity: 0.4;
    border: none;
}

.modal__close-btn_type_delete {
    background-image: url(../images/Close.Icon.svg);
    top: 0;
    right: -32.5px;
    opacity: 1;
}

.modal__close-btn_type_preview {
    background-image: url(../images/Close.Icon.svg);
    top: 0;
    right: -52.5px;
    opacity: 1;
}

.modal__close-btn:hover {
    opacity: 100%;
    cursor: pointer;
}

.modal__title {
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 17.6px;
    color: #212121b2;
}

.modal__caption {
    background-color: #212121;
    color: #fff;
    margin: 0;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    margin-top: 8px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.modal__input {
    display: block;
    padding: 16px 12px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    border-width: 1px;
    border-radius: 8px;
    border-color: #21212166;
    border-style: solid;
}

.modal__error {
    color: red;
}

.modal__error_visible {
}

.modal__input_type_error {
    border: 1px solid #ff000099;
}

.modal__submit-btn {
    width: 156px;
    padding: 18px 0;
    background-color: #212121;
    color: #fff;
    border-radius: 8px;
    border-width: 1px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.modal__delete-btn {
    width: 156px;
    padding: 18px 0;
    background-color: #ff6565;
    color: black;
    border-radius: 8px;
    border-width: 1px;
    font-family: "poppins", Arial, Helvetica, sans-serif;

    border: none;
    font-size: 18px;
    font-weight: 500;
    /* margin-bottom: 12px;
    margin-right: 20px; */
    margin-right: 0;
    margin-bottom: 0;
}
.modal__close-btn_type_delete {
    margin-right: -20px;
}

.modal__button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; /* space between buttons */
    margin-top: 24px;
}

.modal__cancel-btn {
    width: 156px;
    padding: 18px 0;
    background-color: #fff;
    color: #212121;
    border: 1px solid #212121;
    border-radius: 8px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.modal__delete-btn:hover {
    cursor: pointer;
}

.modal__submit-btn:disabled {
    background: #212121;
    opacity: 0.5;
}

.modal__submit-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 627px) {
    .modal {
        padding: 0 10px;
    }

    .modal__container {
        /* padding: 12px; */
        padding: 32px 50px;
        max-width: 100%;
    }

    .modal__title {
        font-size: 20px;
        margin-bottom: 24px;
        margin: 10px 0 34px;
    }

    .modal__close-btn {
        top: 22px;
        right: 12px;
    }

    .modal__close-btn_type_delete {
        top: -50px;
        right: 15px;
    }

    .modal__label {
        margin-bottom: 24px;
    }

    .modal__submit-btn {
        width: 100%;
    }

    .modal__close-btn_type_preview {
        top: -30px;
        right: 0;
    }

    .profile__avatar-btn {
        visibility: hidden;
    }

    .modal__button-group {
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        /* width: 100%; */
    }
    .modal__delete-btn,
    .modal__cancel-btn {
        width: 156px;
    }
}
